<!--bootstrap.js는 jquery가 꼭 필요하기에 순서 설정-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!--절대경로로 시작하네?-->
<!--src/main/resources/static에 위치한
정적파일->/로 설정해주는 ㅅ스프링부트 덕분-->
<script src="/js/app/index.js"></script>
</body>
</html>