<!DOCTYPE HTML>
<html>
<head>
<!--    head가 먼저 실행됨. 화면 먼저 보이는 게 중요함-->
<!--    따라서 css를 head에 놓았음. js는 body에-->
    <title>Spring boot Web Service</title>
    <meta http-equiv="Content-Type" content="text/html;
          charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
